
{#
{% set proxmox_node_name = (deployment_config.proxmox_node_name | default('proxmox')) %}
{% set vm_name = deployment_config.vm_name %}
{% set datastore_vms_id = deployment_config.datastore_vms_id | default('vm_pool_1') %}
{% set ssh_key = deployment_config.ssh_key_file | default("~/.ssh/authorized_keys") %}



{{ proxmox_header }}




/* DATA SOURCES */

data "proxmox_virtual_environment_vms" "vm_list" {
    node_name = "{{ proxmox_node_name}}"
    filter {
        name = "name" 
        regex = true 
        values = [".*(?i)freeipa.*"]
    }
}

data "proxmox_virtual_environment_datastores" "datastores" {
    node_name = "{{ proxmox_node_name }}"
}



/* LOCALS */

locals {
    vm_pool = [for datastore in data.proxmox_virtual_environment_datastores.proxmox.datastore_ids : datastore if datastore == "vm_pool_1"]
}


/* LOCALS /*


/* VM RESOURCES */

resource "proxmox_virtual_environment_vm" "{{ vm_name }}" {
    name = "{{ vm_name }}"
    description = "Freeipa server"
    tags = ["freeipa", "terraform"]
    node_name = "{{ proxmox_node_name }}"
    cdrom {
        datastore_id = "{{ datastore_vms_id }}"
        file_id = proxmox_virtual_environment_file.local_kube_image.id 
        interface = "ide0"
        enabled = true
    }
    disk {
        datastore_id = "{{ datastore_vms_id }}"
        interface = "scsi0"
        size = 20
        aio = "native"
        file_format = "raw"
    }
    cpu {
        cores = 2
        type = "x86-64-v2-AES"
    }
    memory {
        dedicated = 2048
    }
    network_device {
        bridge = "vmbr0"
        model = "virtio"
    }
    initialization {
        ip_config {
            ipv4 {
                address = "dhcp"
            }
        }
        dns {
            domain = "harmonlab.com" 
            servers = [{% for dns_server in deployment_config.dns_servers %}{{ '"' ~ dns_server ~ '"' ~ (',' if not loop.last) }}{% endfor %}]
        }
        user_account {
        keys = [trimspace(file("${pathexpand("~")}/.ssh/authorized_keys"))]
        username = "cloud_user"
        password = var.proxmox_password
        }
    }

}

#}
